button {
  background-color: var(--primary-color) !important;
}

button:hover {
  font-size: 0.9rem;
  background-color: var(--medium-primary-color) !important;
}


.pluggin-container{
  background-color: bisque;
  padding: 1rem;
  gap: 2rem;

  border-radius: 20px;
  background: linear-gradient(147.15deg, rgba(255, 255, 255, 0.6097) 16.98%, rgba(255, 255, 255, 0.1675) 88.49%);
  box-shadow: 0px 4px 13px -1px rgb(0 0 0 / 20%);

  .pluggin-header{
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    h4{
      font-weight: 600;
    }

    .pluggin-logo{
      img {
        width: 5rem;
      }
    }
  }

  .pluggin-btn{
    justify-content: end;
  }
}

.research-card-container, .research-card-container-reco{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 4px #12544A;
  border-radius: 20px;
  grid-template-columns: 2fr 1fr;
  display: grid;
  gap: 3rem;

  .research-card-element {
    align-items: center;
    gap: 0.8rem;
    width: 100%;

    .element-inputs {
      gap: 0.5rem;
      width: 100%;
    }
  }

  .research-input, select{
    background-color: var(--light-primary-color) !important;
    border-bottom: none;
    border-radius: 20px;
    text-align: center;

  }

  .research-select-container{
    width: 100%;
    label{
      display: none;
    }

    #select-1{
      color: #a8a8a8;
    }
  }
  select {
    border-bottom: none;
    padding: 0 2.5rem 0 1rem;
  }

  .research-dropdown{
    width: 100%;
    .cds--dropdown{
      border-bottom: none;
      background-color: white;
    }

    button{
      background-color: var(--light-primary-color) !important;
    }
    span {
      margin-right: 0.5rem;
      // color: #a8a8a8;
    }
  }
}
.research-card-container{
  padding: 1rem;

}
.research-card-container-reco{
  padding: 0.5rem 1rem;

  input{
    color: var(--font-color) !important;
    -webkit-text-fill-color: var(--font-color) !important;
    border: 1px solid var(--primary-color) !important;
    border-radius: 20px;
  }
}

.reco-page-recap{
  gap: 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.reco-page-results{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-top: 1rem;
  
}

.seed-card-detail-icon, .predictive-card-detail-icon{
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: white;
  }
}
.predictive-card-detail-icon.small {
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
}
.seed-card-title, .predictive-card-title {
  // justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
.seed-card-detail, .predictive-card-container  {
  gap: 0.5rem;
  align-items: flex-start;
}
.seed-card-detail-description, .predictive-card-detail-description{
  margin-left: 2rem;
  font-weight: 400;
}

.predictive-value-container{
  background: #FDF5EE;
  border-radius: 20px;
  gap: 1rem;
}
.predictive-value-title, .predictive-list {
  padding: 1rem;
  text-align: center;
}
.predictive-list {
  gap: 3rem;
  margin-left: 1rem;
}
.predictive-card-detail-icon {
  background: var(--primary-color) !important;
}

.seeds-list{
  flex-wrap: wrap;
  justify-content: center;
}
.seed-card-container {
  position: relative;
  padding: 1rem;
  font-weight: 500;
}
.seed-card-container {
  width: 50%;
  // cursor: pointer;
}
.seed-card-rank{
  position: absolute;
  left: 45%;
  top: 0%;
  background: #CD832A;
  border-radius: 20px;
  width: 3rem;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.seed-card-details, .seedDetails-card-details{
  border-radius: 20px;
  box-sizing: border-box;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem  1rem 0.5rem 1rem;
}
.seed-card-details{
  background: linear-gradient(90deg, rgba(231, 238, 237, 0.6) 0%, rgba(253, 245, 238, 0.6) 97.17%);
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.seedDetails-card-details{
  background: linear-gradient(90deg, rgba(255, 254, 254, 0.6) 0%, rgba(253, 245, 238, 0.6) 97.17%);
  border: 1px solid #CD832A;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  height: 10rem;
  justify-content: center;
  padding: 1rem 1rem 1rem 2rem;
  gap: 2rem;
  align-items: start;

  h4{
    font-weight: 500;
    color: var(--third-color);
  }
}

.seed-card-details-container{
  justify-content: space-around;
  width: 100%;

}
.seed-card-detail {
  justify-content: space-between;
}
.seed-card-title {
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
.seed-card-detail-icon{
  background: var(--secondary-color);
}

.seeds-off-page-btn{
  margin-top: 3rem;
  box-sizing: border-box;
  background: rgba(18, 84, 74, 0.12);
  border: 1px solid #12544A;
  border-radius: 20px;
  height: 3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  h4{
    font-weight: 500;
    color: var(--third-color);
  }
}


